*{
    margin: 0px;
    padding:0px;
}

body {
    font-family: sans-serif;
    background: rgba(0, 0, 0, 0.0001);
}

header{
    text-align: center;
    background: white;
    
}

.navigation a {
    text-decoration: none;
    color: #FF0000; 
    text-transform: uppercase;
    
}

.navigation-item{
    display:inline-flex;
    padding: 18px;
    padding-left: 70px;
    justify-content: space-around;
    align-content: center;
    letter-spacing: 2.7px;
    font-style: normal;
    font-weight:bold ;
    font-size: 18px;
    line-height: 18px;
}

.image-container {
    background-image:url(../image/simage.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ; 
    padding-top: 584px;
    padding-bottom:130px ;
    color: white;
}

.info-title { 
    color: #373737;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;  
    text-align: center;
    padding: 48px 253px 0px;
}

.text-container{
    padding-left: 67.5px;
    padding-right: 67.5px;
    text-align: center;
    display: flexbox;

}

.text{
    padding-top: 63px;
}

.text2{
    padding-top: 28px;
}

.start-button{
    width: 191px;
    height: 51px;
    background: #FF0000;
    border-radius: 4px;
    margin-left: auto;
    display: block;
    margin-right: auto;
    margin-top: 66px;
    cursor: pointer;
    text-align: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    font-size: 12px;
    line-height: 12px;
    
}

.footer-text {
    text-align: right;
    padding-right: 105px;
    padding-bottom: 29px;
    padding-top: 82px;
    
}

.foter-text-copyright{
    color: #373737;
}










