.container{
    width: 1900px;
}

.nav{
    background: #313131;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.nav-logo{
    width: 81px;
    height: 70px;
    
}

.nav-logo-img{
    position: absolute;
    width: 27px;
    height: 27px;
    left: 13px;
    top: 22px;
    
}

.nav-slogan{
    color: #FFFFFF;
    font-size: 22px;
    line-height: 30px;
    position: absolute;
    width: 124px;
    height: 26px;
    left: 67px;
    top: 22px;
}



.nav-menu-list{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu-list-item{
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    height: 16px;
    font-weight: 600px;
    font-size: 15px;
    line-height: 20px;
    padding-top: 28px;
    padding-bottom: 29px;
    padding-right: 36px;
    padding-left: 36px;
    color: #FFFFFF ;
}

.nav-menu-list-item:hover{
    color:#2497ac;
}

.nav-menu-icon{
    width: 68px;
    height: 70px;
    text-align: left;

}

.button-add{
    background-color: black;
    height: 70px;
    width: 68px;
}

.search-icon{
    width: 25px;
    height: 25px;
}
.block-area{
    background-image: url(../Img/headerbg.jpeg);
    background-attachment: fixed;
    background-position-y: bottom;
    height: 369px;
}

.area-title{
    color: white;
    font-size: 32px;
    text-align: center;
    padding-top: 164px;
}
.area-buttons{
    padding-top: 76px;
    display: flex;
    justify-content: center;
}

.block-button{
    margin: 0 10px;
    width: 170px;
    height: 55px;
    text-align: center;
}

.button-blue{
    background-color:#14B9D5 ;
}

.button-green{
    background-color:#89CA62; ;
}

.second-block{
    padding-top: 49px;
    background-color: #F2F2F2;;
}

.second-block-title{
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: #18B4CF;
    padding-bottom: 52px;
}

.second-flexrow-wrapper{
    display: block;
    width: 61.8%;
    margin: auto;
}

.second-block-flexrow{
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: 950px;
    row-gap: 30px;
    column-gap: 30px;
}

.flexrow-item{
    width:370px;
    background-color: white;
}

.item-text{
    display: flex;
    justify-content: center;
    color: black;
    font-weight: Bold;
    Font-size: 18px;
    Line-height: 62px;
    height: 62px;
}

.third-block-area{
    background-image: url(../Img/parallaxbg.jpeg);
    background-attachment: fixed;
    background-position: center;
    height: 588px;
}

.third-block-area-title{
    position: relative;
    text-transform: uppercase;
    padding-top: 106px;
    color: #FFFFFF;
    font-weight: Bold;
    Font-size: 32px;
    text-align: center;
}

.third-block-area-title::after{
    content: "";
    display: block;
    width:60px;
    height:3px;
    position: absolute;
    background:#2cb4cf;
    margin-top: 87px;
    left:50%;
    transform:translateX(-50%)

}

.third-block-area-grid{
    margin: 346px 309px 0px 310px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 58px;
}

.fourth-block{
    background:#E5E5E5 ;
}


.fourth-block-area-title{
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: #18B4CF;
    padding-top: 51px;
    padding-bottom: 52px;
}

.fourth-block-area-grid{
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.fifth-block-area-grid{
    display: grid;
    width: 1168px;
    grid-template-columns: 292px 292px 292px 292px;
    grid-template-rows: auto;
    margin: auto;
    column-gap: 17.6px;
    row-gap: 44px;
    grid-template-areas: 
        "news-one news-one news-one news-two"
        "news-three news-three news-fourth news-fourth"
        "news-fifth news-fifth news-six news-six"
        "news-seven news-eight news-eight news-eight";
}




.news-one{
    background: #F9F7F7;
    grid-area: news-one;
}


.news-two{
    max-width: 277px;
    grid-area: news-two;
    background: rgba(0, 0, 0, 0.0001);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.news-three{

    grid-area: news-three;
}

.news-fourth{

    grid-area: news-fourth;
}

.news-fifth{
    grid-area: news-fifth;
}

.news-six{
    grid-area: news-six;
}

.news-seven{
    grid-area: news-seven ;
}

.news-eight{
    grid-area: news-eight;
}

.news-image{
    float: left;
}

.news-body{
    float: right;
    width: 44%;
}

.news-title{
    display: block;
    margin-right: 28px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: #353A3D;
    padding-bottom: 15px;
    padding-top: 51px;
}

.news-text{
    display: block;
    margin-right: 28px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #5B6469;


}

.news-text-center{
    text-align: center;
    max-width: 277px;
    margin-top: 78%;
}

.news-two-title{
    text-align: center;
}

.main-news-title{
font-weight: bold;
font-size: 18px;
line-height: 25px;
text-align: right;
color: #353A3D;
padding-top: 12px;
padding-right: 13px;
}

.main-news-text{
    /* Amazing Gabion Ideas for Outdoors A Gabion is a cage box or cyl copy */

font-weight: 600;
font-size: 14px;
line-height: 21px;
align-items: center;
text-align: right;
padding-top: 15px;
padding-right: 13px;
color: #5B6469;


}

.main-news-image{
    width: 100%;
}



.fifth-block-area-title{
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: #18B4CF;
    padding-top: 48px;
    padding-bottom: 51px;
}

.footer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background:#000000 ;
    height: 80px;
    margin-top:77px ;
    
}

.footer-copyright{
    display: flex;
    align-items: center;  
    padding-left: 367px; 
    width: 100%;


}

.footer-copyright-text{
    Font-size: 13px;
    color:#FFFFFF;
}


.footer-logo{
    display: flex;
    background:#000000 ;
    width: 60%;
    align-items: center;
    justify-content: flex-end;
}

.logo-aftertitle{
    font-size: 20px;
    color:#FFFFFF ;
    font-weight: bold;
}