.container {
    min-width: 1200px;
    max-width: 100%;
}

.header-img{
    background-image: url(../headerimg/section1header.jpg);
    background-size: cover;
    height: 1012px;
    background-attachment: fixed;

}

.header-nav-logo-char{
    text-align: center;
    Font-family: Montserrat;
    Font-style: Bold;
    Font-size: 40px;
    color: #FFFFFF;
    margin-top: -55px;

}

.header-nav{
    height: 120px;
    background: rgba(94, 93, 88, 0.6);
    display: flex;
}

.header-nav-svg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav-logo{
    width: 58px;
    height: 67px;
    margin-left: 360px;
    padding-top: 26px;
}
.header-nav-slogan{
    Width :134px;
    Height:46px;
    padding-top: 20px;
    margin-left: 6px;

}

.header-nav-slogan-text{
    Font-size: 32px;
    color: #FFFFFF;
    
}

.header-nav-slogan-text2{
    text-transform: uppercase;
    color: #44cfab;
    
}

.header-nav-menu{
    padding-left: 305px;
}

.header-nav-menu-items{
    display: flex;
    height: 120px;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

.header-nav-menu-items-text{   
    padding-left: 22px;
    Font-size: 18px;
}



.header-nav-menu-items-link{
    font-weight: bold;
    line-height: 120%;
    color:rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
}

.header-nav-menu-items-link:hover{
    color: #18CFAB;
    cursor:auto;
}

.header-postnav{    
    margin-top: 264px;
    padding-left: 13px;
}

.header-postnav-tex1{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    Font-style: Bold;
    Font-size: 35px;
    color: white;
}

.header-postnav-tex1-style{
    color:#44cfab;
    font-family: sans-serif;
    word-spacing: 8px;
    padding-left: 8px;
}
.header-postnav-h1{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-top: 22px;
    font-size: 78px;
    color: #FFFFFF;
    font-weight: bold;
    font-family: sans-serif
}
.header-postnav-tex2{
    font-family: fantasy;
    Font-size: 35px;
    Line-height: 1px;
    Line-height: 2%;
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
    padding-top: 15px;
    font-weight: 500;
    word-spacing: 8px;
}

.area-button{
    padding-top: 134px;
    display: flex;
    justify-content: center;
}

.button-green {
    margin: 0 13px;
    width: 169px;
    height: 63px;
    text-align: center;
    background-color: #18CFAB;
}

.button-blue {
    margin: 0 13px;
    width: 169px;
    height: 63px;
    text-align: center;
    background-color: #00CBF6;
}

.big-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.big-icons-items1{
    width: 482px;
    height: 377px;
    background: #1C2A33;
}

.big-icons-items2{
    width: 482px;
    height: 377px;
    background:#18CFAB;
}

.big-icons-items3{
    width: 482px;
    height: 377px;
    background: #1C2A33;
}

.big-icons-items4{
    width: 482px;
    height: 377px;
    background:#18CFAB;
}

.big-icons-imgs{
    margin-left: 205px;
    padding-top: 95px;


}

.big-icons-text1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #18CFAB;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 45px;
}

.big-icons-text2{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#FFFFFF;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 45px;
}
.big-icons-text3{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #18CFAB;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 45px;
}
.big-icons-text4{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#FFFFFF;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 45px;
}

.our-service-h2{
    display: flex;
    justify-content: center;
    Font-style: Regular;
    Font-size: 36px;
    Line-height: 40px;
    Line-height: 91%;
    margin-top: 83px;
    color: #4E4E4E;
    font-weight: 100;
}

.our-service-h2::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    position: absolute;
    background: #2cb4cf;
    margin-top: 70px;
    left: 50%;
    transform: translateX(-50%);
}

.our-service-menu{
    margin-top: 101px;
}

.our-service-list{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    Font-size: 15.99px;
    Line-height: 38.99px;
    Line-height: 200%;
    width: 195px;
    height: 76px;
}

.nav-tab.active{
    background-color: #18CFAB;
}

.nav-tab:hover {
    border:#18CFAB solid 1px;
}

.our-service-Web-Design{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 27px;
    display: none;
}

.nav-tab.active{
    display: flex;
}


.our-service-Web-Design-text{
    width: 952px;
    height: 136px;
    margin-left: 15px;
}

.purchase{   
    display: flex;
    justify-content: center;

}

.purchase-area{
    margin-top: 92px;
    background-image: url(../parphaseimg/parphase.png);
    background-size: cover;
    height: 476px;
    width: 1920px;
}

.purchase-area-slogan{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    color: #18CFAB;
    Font-style: Bold;
    Font-size: 40px;
    Line-height: 40.46px;
    Line-height: 83%;
    padding-top: 126px;
}

.purchase-area-slogan-post{ 
    display: flex;
    justify-content: center;
    margin-top: 12px;
    color: #D8D8D8 ;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
}

.purchase-button {
    display: flex;
    justify-content: center;
    margin-top: 62px;
}

.purchase-button-item {
    width: 168px;
    height: 63px;
    background: #18CFAB;
}

.purchase-button-text{
    color: #FFFFFF;
    Font-style: Bold;
    Font-size: 15px;
    Line-height: 32px;
    Line-height: 175%;
}

.portfolio{
    display: flex;
    justify-content: center;

}

.portfolio-area{
    background: #E9EDEF;
    width: 1920px;

}

.portfolio-slogan{
    display: flex;
    justify-content: center;
    color: #4E4E4E;
    font-size: 36px;
    margin-top: 95px;
    font-weight: 100;
    height: 37px;
}

.portfolio-link-area{
    display: flex;
    justify-content: center;
    padding-top: 97px;
}

.portfolio-link-item{
    display: flex;
    align-items: center;
    justify-content: center;
    height:58px ;
    width: 120px;
    border: #DADADA solid 1px;
}

.portfolio-link-item.active{
    border:#18CFAB solid 1px;
}

.portfolio-examples{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 200px;
    width: 1172px;
    padding-left: 380px;

}

.portfolio-examples-item1{
    width: 285px;
    height: 211px;
}

.portfolio-examples-item-text{

    background: #E9EDEF;
    display: flex;
    justify-content: center;
    padding-top: 23px;
    color: #18CFAB;
    font-weight: bold;
    font-size: 15px;
  
}

.portfolio-examples-items-svg{
    display: flex;
    justify-content: center;
    padding-top: 46px;

}

.portfolio-examples-item{
    width: 285px;
    height: 211px;
}

.portfolio-examples-images{
    width: 285px;
    height: 211px;
}

.load-more{
    display: flex;
    justify-content: center;
    padding-top: 70px;
    margin-bottom: 99px;

}

.load-more-button{
    display: flex;
    align-items: center;
    width: 168px;
    height: 63px;
    background: #18CFAB;
}

.load-more-button-svg{
    padding-left: 15px;
}

.load-more-button-text{
    padding-left: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
}


.breaking-news-slogan{
    display: flex;
    justify-content: center;
    font-style:normal;
    font-size: 36px;
    color: #4E4E4E;
    padding-top: 82px;
    font-weight: 100;
}

.breaking-news{
    display: flex;
    justify-content: center;
}


.breaking-news-items{
    display: flex;  
    justify-content: center;
    column-gap: 35px;
    flex-wrap: wrap;
    row-gap: 40px;
    padding-top: 180px;
    padding-bottom: 120px;
    width: 1200px;
    
}

.breaking-news-infoblock-image{
    width: 263px;
    height: 208px;
}

.breaking-news-infoblock-text{
    display: flex;
    justify-content: center;
    padding-top: 23px;
    color: #717171;
    font-weight: bold;
    font-size: 19px;
}

.breaking-news-infoblock-text:hover{
    color:#18CFAB ;
}

.breaking-news-infoblock-comments{
    display: flex;
    justify-content: center;
    padding-top: 5px;
    color: #777777;
    font-size: 15px;
}

.people-say{
    display: flex;
    justify-content: center;
}
.people-say-area{
    background-image: url(../ham/section3.jpg);
    background-size: cover;
    width: 1920px;
    margin-bottom: 200px;
}

.people-say-slogan{
    display: flex;
    justify-content: center;
    color:#FFFFFF;
    font-size: 36px;
    padding-top: 98px;
    font-weight: 200;
    word-spacing:6px;
}

.employee-info{
    margin-top: 168px;
}

.employee-info-svg{
    margin-left: 48%;
    padding-bottom: 25px;

}

.employee-info1{
    display: flex;
    justify-content: center;
}
.employee-info-text{
    width: 800px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #BBBBBB;
    text-align: center;
}

.employee-name{
    display: flex;  
    justify-content: center;
    color: #18CFAB;
    padding-top: 37px;
}

.employee-position{
    display: flex;
    justify-content: center;
    padding-top: 5px;
    color: #BBBBBB;

}

.employee-photo {
    width: 142px;
    height: 143px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}
.employee-photo img {
    width: 142px;
    height: 143px;
}

.employee-carousel{
    display: flex;
    justify-content: space-around;
    padding-top: 44px;
    padding-left: 730px;
    padding-right: 730px;
    align-items: center;
    padding-bottom: 147px;
    
}


.employee-move-button{
    width: 31px;
    height: 31px;
}

