

.container{
    width: 1280px;
    display: block;
    margin: 0 auto;
    align-content: center;

}

.logo{
 width: 334px;
 height: 73px;
margin-top: 63px;
}

.logo-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
    color: #4bcaff;
}



.header-nav{
    text-align: center;
    margin-top: 38px;
    background-color: #35444F;
    width: 1280px;
    height: 72px;
    display: inline-flex;
}

.header-nav-list{
    display: flex;
    justify-content: flex-end;
	flex-wrap: wrap;
}

.header-nav-empty{
    width: 162px;
}

.nav-title{
    align-content: center;
    font-size: 24px;
    line-height: 72px;
    margin-left: 40px;
    margin-right: 151px;
    display: flex;
    color: #FFFFFF;
}

.header-nav-item{
    align-content: center; 
}

.header-nav-item:hover{
    background: #222F3A;
}

.nav-item-text{
    font-size: 24px;
    line-height: 72px;
    display: flex;
    color: #FFFFFF;
    padding: 0 46px;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
}

.aside{
    margin-top: 48px;
    display:flex;
}

.aside-menu{
    width: 344px;
    height: 399px;
    border:1px solid #000000;
}


.aside-menu-list{

}

.menu-list-items{
    width: 342px;
    height: 80px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 27px;
    
}

.menu-list-items > a{
    color: #495863;
    text-align: left;
    margin-left: 44px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
}

.menu-list-items:hover{
    background: #DBDBDB;
}
.menu-list-items > a:hover{
    justify-content: center;
}



.img-area{
    width: 880px;
    height: 529px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    margin-left: 52px;
}

.img-are-item{
    align-content: center;
    width: 320px;
    height: 381px;
    background-image: url(../image/goatimg.png);
    display: block;
    background-repeat: no-repeat;
    margin: 75px auto;
}

.img-are-item:hover{
    transform: scale(1.5);
}

.main{
    display:block;
    width: 937px;
}

.main-info-area{
    width: 885px;
    margin-top: 37px;
    margin-left: 52px;
    color: #2C2C2C;
}

.area-info-text1{
    padding-top: 34px;
}


.footer-nav{
    height: 69px;
    background: rgba(99, 105, 110, 0.48);  
    margin-top: 54px; 
}

.footer-nav-list{
    margin-left: 40px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.footer-nav-item{

    font-size: 28px;
    line-height: 69px;
    color: #0C1927;

}

.footer-nav-item-text{
    display: flex;
    align-items: center;
    padding: 0 20px ;
    color: #010101;
}

.footer-nav-item-text:hover{
    color:#3181a6;
    text-decoration: underline;
}

.footer-nav-item-copyright{
    display: flex;
    margin-right: 40px;
    margin-left: 82px;
    height: 69px;
    align-content: center;
    color: #010101;
}
