.container{
        width: 1366px;
        height: 768px;
}

.area-background{
    background-image: url(../img/background.png);
}

.company{
    display: flex;
    margin-left: 161px;
    padding-top: 51px;
    margin-right: 177px;
    
}

.company-name{
    width: 140px;
    font-family: Roboto;
    font-weight: Bold;
    text-transform: uppercase;
    margin-left: 8px;
}

.name-text1{
    Font-size: 29px;
    color: #FFFFFF;
}

.name-text2{
    Font-size: 18px;
    color: #FFFFFF;
}

.company-contacts{
    margin-left: auto;  
    height: 50px;
}

.company-contacts-mail{
    display: block;
    font-size: 18px;
    color: #FFFFFF;
}


.company-contacts-telephone{
    margin-left: auto;
    padding-top: 12px;
    align-content: flex-end;
    display: block;
    font-size: 18px;
    color: #FFFFFF;
}

.tabs{
    padding-top: 22px;
    align-content: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 15px;
    row-gap: 37px;
    width: 81%;
    margin: auto;

}


.tabs-item{
    justify-self: center;
}

.item-link{
    display: block;
}

.hover-container{
    position: relative;
    overflow: hidden;
}

.tabs-item-hover{
    position: absolute;
    width: 292px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F26522;
    top: 100%;
    left: 1%;
}

.hover-container:hover > .tabs-item-hover {
    top: 70%;
    transition: all 500ms;
    justify-self: center;
}

a:hover > p{
    color: #F26522;
}

a:hover > span {
    color: #F26522;
}

a:hover > h2 {
    color: #F26522;
}

a:hover > h3 {
    color: #F26522;
}

a:hover >  svg {
    fill: #F26522;
}

.tabs-item-img{
    width: 300px;
    height: 220px;
}

.tabs-item-text{
    Font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 20px;
}

.hover-info{
    margin-right: auto;
    margin-left: 16px;
    margin-top: 7px;

}

.hover-info-price{
    font-size: 10px;
    color: #FFFFFF;
    
}

.hover-info-price-cash{
    font-size: 20px;
    color: #FFFFFF;
    padding-top: 8px;
}

.hover-info-details{
    margin-top: 26px;
    Font-size: 14px;
    color: #FFFFFF;
    margin-right: 37px;
    position: relative;
}

.hover-info-details:after{
    position: absolute;
    content: '>';
    height: 10px;
    width: 5px;
    top: 1px;
    right: -16px;

}

.footer-info{
    margin-top: 49px;
}

.footer-info-text{
    display: flex;
    justify-content: center;
    Font-size: 12px;
    color: #FFFFFF;
}